# .gitignore

# Exclude build files
app/build/
build/

# Exclude IDE files
.idea/

# Exclude Gradle wrapper
gradle/wrapper/

# Exclude build configuration files
*.iml
.gradle/
local.properties

# Exclude system files
.DS_Store
Thumbs.db

# Exclude Docker related files
Dockerfile
.dockerignore

# Exclude the extras folder
llm-app/
